*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid #000; */
  --textcolor: black;
  --bgcolor: #F0F2FB; 
  /* --bgcolor: #fff;  */
  font-family: 'Gilroy';
  color: var(--textcolor);
  background-color: var(--bgcolor);
}
.main{
  width: 100%;
}
.navigation{
  width: 100%;
  position: fixed;
  z-index: 10;
  box-shadow: 0px 0px 5px 0px black;
}
.nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px 50px ;
}
.nav-list{
  display: flex;
  gap: 7vw;
}
.nav-list a{
  text-decoration: none;
  list-style: none;
  color: var(--textcolor);
}
.nav li{
  font-size: 18px;
}
.nav li:hover{
  scale: 1.05;
}
.nav-humbar {
  display: none;
}
.nav-humbar i{
  font-size: 25px;
}
.nav-list-add{
  display: block;
  position: absolute;
  width: 100%;
  top: 51px;
  padding: 39px;
  right: 0px;
  display: flex;
  background: #abc0c0;
  gap: 7vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header{
  padding: 150px 0px 70px 0px ;
}
.hero-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.animate-box{
  width: 25%;
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: flex-end;
  position: relative;
  padding-bottom: 16px;
  animation: animate-2 3s  forwards;
}
@keyframes animate-2 {
  0%{
    left: -500px;
  }
  100%{
     left: 0px;
  }
}
.animate-1{
  width: 65px;
  height: 65px;
  display: flex;
  flex-wrap: wrap;
  animation: animate-1 1.5s  infinite;
}
@keyframes animate-1 {
  0%{
      rotate: 0deg;
  }
  100%{
     rotate: 90deg;
  }
}
.b1,.b2,.b3,.b4{
  width: 50%;
  height: 50%;
  background: black ;
}
.b1{
  border-top-right-radius: 100%;
}
.b2{
  border-bottom-right-radius: 100%;
}
.b3{
  border-top-left-radius: 100%;
}
.b4{
  border-bottom-left-radius: 100%;
}
.heading-1{
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap: 1vw;

}
.heading-1-h2 , .heading-2-h2 , .heading-1-h3 , .visual-span , .heading-3{
  position: relative;
  overflow: hidden;
}
.heading-1-h3{
  position: relative;
  padding-right: 10px;
  font-size: max(5.68vw,30px);
  animation: animate 2s 1 forwards;
  font-weight: 400;
}
.heading-1 h2 ,.heading-2 h2 {
  font-size: max(12.68vw,34px);
  font-family: 'Gilroy';
  line-height: 0.9;
  margin-left: 4vw;
  position: relative;
  animation: animate 2s  forwards;
  font-weight: 400;
}
.heading-2 h2{
  margin-left: 10px;
}
.heading-2{
  display: flex;
  align-items: center;
  justify-content: center;
}
#visual-text{
  position: relative;
  padding-right: 10px;
  font-size: max(7.68vw,25px);
  animation: animate 2s 1 forwards;
  font-weight: 400;
}
.h2-2{
  padding-bottom: 17px;
  animation: animate 2s 1 forwards;
}
@keyframes animate {
  0%{
      top: 120px;
  }
  100%{
      top: 0px;
  }
}
.heading-3-h2 h2{
  text-align: end;
  position: relative;
  right: 20px;
  font-family: 'Gilroy';
  font-size: max(2.68vw,16px);
  animation: animate 2s 1 forwards;
}
/* .resume-download-btn{
  display: flex;
  justify-content: end;
}
.resume-btn{
  padding: 3px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  gap: 10px;
  font-size: max(2.68vw,16px);
  margin: 20px;
} */
.about-section{
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: space-evenly;
}
 /* All Heading */
.all-heading{
  padding-bottom: 4.5vw;
}
.all-heading h2{
  text-align: center;
  font-size: max(3.50vw,25px);
}
.all-heading-para{
  font-size: max(1.45vw, 8px);
  text-align: center;
}
.about-head-part{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.about-head-1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.links{
  display: flex;
  padding-top: 10px;
  gap: 15px;
}
.about-head-2{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.about-img{
  width: 150px;
  height: 150px;
}
.about-dec{
  width: 90%;
}
.about-dec h2 {
  margin-bottom: 10px;
}
.about-dec p{
  font-size: max(0.68vw,15px);
}
.about-part{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: space-evenly;
  padding: 50px 25px;
}
.education{
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
  background: var(--bgcolor);
  border: 1px solid black;
  border-radius: 25px;
  padding: 15px ;
}
.education i{
  font-size: 25px;
}
.education:hover{
  box-shadow: 6px 6px 6px 0px;
}
.skills-section{
  padding-block: 80px;
}
.skills-boxs{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5vw auto;
  gap: 6vw;
}
.skills-boxs div[class*='box']{
  width: 120px;
  height: 120px;
  border: 2px solid black;
  border-radius: 10px;    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
  filter: drop-shadow(5px 5px );
}
.skills-boxs img{
  width: 80px;
  height: 80px;
  transition: rotate 350ms linear;
  transition: scale 250ms linear;
}
.skills-boxs .box:hover{
  scale: 1.1;
}
.box:hover #box-img{
  background: transparent;
  rotate: 15deg;
}
.project-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.pro-showcase{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  padding: 50px 25px;
}
.pro-showcase div[class*='pro-box']{
  width: 300px;
  height: 200px;
  border: 1px solid black;
  text-align: center;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}
.pro-box img{
  width: 100%;
  height: 100%;
}
.pro-box p{
  font-size: 25px;
  background:  transparent;
  color: var(--textcolor);
  position: absolute ;
  top: 50%;
  width: 50%;
  transform: translate(50% , -50%);
  text-align: center;
  font-size: 25px;
}
.pro-box-filter{
  display: none;
  background: rgba(255, 196, 3, 0.356);
}
.pro-box:hover{
  position: relative;
  bottom: 10px;
  transition: all 400ms linear;
  box-shadow: 6px 6px 6px 0px;
}
.pro-box:hover #pro-img{
  transition: scale 400ms linear;
  scale: 1.2;
  filter: blur(1px);
}
.pro-box:hover .pro-box-filter{
  display: block;
  position: absolute;
  top: 0;
  z-index: 5;
}
.animate-brand {
  width: 100%;
  height: 60px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.contact-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-block: 50px;
}
.contact-us{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
}
.contact-heading-1{
  font-size: max(1.68vw,25px);
  padding-left: 12vw;
  margin-bottom: 32px;
}
.contact-talk-heading{
  font-size: 25px;
}
.contact-us-1 {
  width: 340px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contact-us-2 {
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 55px;
}
.contact-us-1-item{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact-list-item-2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 10px 0px 30px 0px;
  border: 2px solid black;
  border-radius: 10px;
}
.contact-us-1 .contact-list-item-2{
  align-items: flex-start;
  gap: 23px;
  border: none;
}
.contact-list{
  display: flex;
  gap: 15px;
}
.get-font{
  font-size: max(2.95vw,20px);
  border-bottom: 4px solid black;
}
#fullname , #email {
  width: 300px;
  height: 40px;
  padding: 0px 0px 0px 15px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
}
#message{
  width: 300px;
  height: 125px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px 10px 10px 15px;
}
#submit-btn{
  padding: 10px 35px;
  display: flex;
  align-items: center; 
  justify-content: center;
  border-radius: 10px;
  gap: 10px;
  font-size: 16px;
}
#submit-btn i{
  font-size: 17px;
}
#c-a-btn{
  font-size: 20px;
  padding: 5px 15px;
  border-radius: 20px;
}
.footer-section{
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  justify-content: space-between;
  padding: 45px 25px;
  border-top: 1px solid black;
}
.footer-heading a{
  text-decoration: none;
}
.footer-section p{
  font-size: 13px;
}
.footer-links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
i{
  font-size: 20px;
}

@media (max-width: 1200px) {
  
}
@media (max-width: 992px) {
  .header{
    padding: 150px 0px 70px 0px;
  }
  .about-head-part{
    flex-direction: column;
    gap: 30px;
  }
  .about-head-2{
    width: 60%;
    margin: 0 auto;
  }
}
@media (max-width: 768px) {
  .nav-humbar{
    display: block;
  }
  .nav-list{
    display: none;
  }

  .animate-1{
    width: 35px;
    height: 35px;
  }
  .contact-us{
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding: 35px 0px;
  }
  .footer-section{
    flex-direction: column;
    gap: 10px;
  }
}
@media (max-width: 576px) {
  .nav-humbar{
    display: block;
  }
  .nav-list{
    display: none;
  }

  .animate-1{
    width: 35px;
    height: 35px;
  }
  .about-head-2{
    width: 80%;
  }
  .contact-us-1{
    width: 310px;
    padding: 0px 6px;
  }
  .contact-us-2{
    width: 310px;
  }
  #fullname , #email {
    width: 280px;
  }
  #message{
    width: 280px;
  }
  .footer-section{
    flex-direction: column;
    gap: 10px;
  }
}

